/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */


 @font-face {
  font-family: 'ClashDisplay';
  src: url(./assets/fonts/ClashDisplay/Fonts/OTF/ClashDisplay-Regular.otf);
}

@font-face {
  font-family: 'ClashDisplay Light';
  src: url(./assets/fonts/ClashDisplay/Fonts/OTF/ClashDisplay-Light.otf);
}

@font-face {
  font-family: 'ClashDisplay Bold';
  src: url(./assets/fonts/ClashDisplay/Fonts/OTF/ClashDisplay-Bold.otf);
}

@font-face {
  font-family: 'Gordita';
  src: url(./assets/fonts/Gordita/Gordita-Regular.otf);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.app-container {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}